.submit-form {
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    grid-row-gap: 15px;
}

.submit-form.disabled {
    display: none;
}

.input-add-task {
    min-width: 246px;
    width: auto;
    background: 
        linear-gradient(#000, #000) center bottom 5px / calc(100% - 10px) 1px no-repeat;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 7px;
}