.task-box {
    width: 282px;
    height: min-content;
    max-height: 80%;
    float: left;
    overflow-y: auto;
    margin: 0px 24px 24px 0px;
    padding: 12px;
    background: #EBECF0;
    border-radius: 10px;
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    grid-row-gap: 15px;
}

.task-box::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 10px;
    background-clip: padding-box;
}

.task-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #CBCBCB;
}

.add-card-btn {
    width: max-content;
    display: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #5E6C84;
    cursor: pointer;
}

.add-card-btn.active {
    display: block;
}

.add-card-btn.disabled {
    cursor: not-allowed;
}

.add-card-btn.disabled:hover {
    font-weight: 400;
}

.add-card-btn:hover {
    font-weight: 600;
}

@media (max-width: 450px) {
   .add-card-btn {
    background: white;
    border-radius: 5px;
    padding: 5px;
   } 
}
