.card-wrapper {
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    position: relative;
}

.task-card {
    outline: none;
    text-decoration: none;
    color: black;
    min-width: 246px;
    width: auto;
    background: white;
    border-radius: 5px;
    margin: 0;
    padding: 7px;
}

.delete-card-btn {
    position: absolute;
    right: 3%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #5E6C84;
    cursor: pointer;
}